/* data table font size */
/* Default font size */
table.datatable .responsive-font td {
    font-size: 14px;
}

.responsive-title{
    font-size: 22px;
}

@media screen and (max-width: 768px) {
    table.datatable .responsive-font td {
        font-size: 13px;
    }

    .responsive-title{
        font-size: 15px;
    }
}

@media screen and (min-width: 1200px) {
    table.datatable .responsive-font td {
        font-size: 16px;
    }

    .responsive-title{
        font-size: 24px;
    }
}

.route{
    display: none;
}

.selected-id{
    display: none;
}

.datatable tr th:last-child.dt-aksi,th:first-child.dt-no{
    width: 1%!important;
    white-space: nowrap!important;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    justify-content: end!important;
}
div.dataTables_wrapper div.dataTables_length, div.dataTables_wrapper div.dataTables_info, div.dataTables_wrapper div.dataTables_paginate{
    text-align: start!important;
}
div.dataTables_wrapper div.dataTables_filter{
    text-align: end!important;
}

@media screen and (max-width: 767px){
    div.dataTables_wrapper div.dataTables_filter label{
        width: 100%!important;
    }
    div.dataTables_wrapper div.dataTables_filter input {
        width: 100%!important;
        margin-left: 0px;
        height: 40px!important;
    }

    div#main-content{
        padding-left: 5px!important;
        padding-right: 5px!important;
    }

    .datatable th:last-child.dt-aksi,
    .datatable td:last-child.dt-aksi {
        display: none;
    }
}

table.dataTable td {
    padding: 5px 10px!important;
}

div.dataTables_wrapper div.dataTables_length{
    margin-bottom: 0px;
}

.view-form{
    display: none;
}
.view-detail{
    display: none;
}

.view-edit{
    display: none;
}

.view-data .card-body:not(.loading){
    display: none;
}

.page-title form button{
    display: none;
}

.btn-back{
    display: none;
}

#main-content{
    min-height: calc(100vh - 130px);
}